@-moz-document domain("3dspaint.com") {
html {color:white!important}
div#search_container {background:transparent}
tr {background:#444}
table {max-width:800px}
table.list {background:#222}
table, td {background:#222!important}
td, a {font-size:12px!important}

div#popupProfile {background-color:#222}
div.chatPane {min-width:50%;max-width:800px!important;margin:auto;min-height:300px}
div#divChatText {background-color:black;width:99%;font-size:12px;line-height:16px;height:200px}
input#txtPost.form_field {background-color:black;max-width:100%;width:99%;height:16px}

textarea#quote_body.form_textarea {background-color:#111!important}
textarea#body.form_textarea {background-color:rgb(24,24,24)}
}

@-moz-document domain("dsipaint.com") {
body, html {color:white;width:100%;word-wrap:break-word;}

div.menu_section {max-width:800px;margin:auto;font-size:12px;line-height:14px}
div.icon {font-size:12px}
span.badge {font-size:10px!important}

div#popupProfile {background-color:#222}
div.chatPane {min-width:50%;max-width:800px!important;margin:auto;min-height:300px}
div#divChatText {background-color:black;width:99%;font-size:12px;line-height:16px;height:200px}
input#txtPost.form_field {background-color:black;max-width:100%;width:99%;height:16px}

div {font-size:12px;line-height:14px!important}
div#search_container {background:transparent}
tr {background:#444}
table {width:100%;max-width:800px}
table.list {background:#222}
table, td {background:#222!important;margin:auto;font-size:12px;line-height:16px}
td, a {font-size:12px!important}

div#walking {margin:auto}
div.alerts_popup.menu_section {margin:auto!important;width:99%!important;text-align:center}
div.message_center.dark, div.message_left.dark, div.message_right.dark {width:800px;margin:auto;max-width:100%!important}

textarea#quote_body.form_textarea {background-color:#111!important}
textarea#body.form_textarea {background-color:rgb(24,24,24)}
}
